<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ====ICONSCOUT CDN==== -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <!-- ====GOOGLE FONTS (POPPINS)==== -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- ====STYLESHEET CSS==== -->
    <link rel="stylesheet" href="../../../style.css" />
    <link rel="stylesheet" href="./about.page.css" />

    <title>Seetro Responsive Drone Website</title>
  </head>
  <body>
    <!-- ========START SECTION NAVBAR========   -->
    <nav>
      <div class="container nav-container">
        <a href="../../../index.html"><h3>Seetro</h3></a>
        <ul class="navbar">
          <li><a href="../../../index.html">home</a></li>
          <li><a href="./about.page.html">about</a></li>
          <li><a href="../products/product.page.html">products</a></li>
          <li><a href="../contact/contact.page.html">contact</a></li>
        </ul>
        <button id="open-nav"><i class="uil uil-align-justify"></i></button>
        <button id="close-nav"><i class="uil uil-multiply"></i></button>
      </div>
    </nav>
    <!-- ========END OF SECTION NAVBAR========   -->
    <!-- ========START SECTION ACHIEVEMENTS========   -->
<section class="about-achievements">
  <div class="container achievements-container">
   <div class="achievements-left">
    <img src="../../assets/drone9.png" alt="">
   </div>
   <div class="achievements-right">
    <h2>Our Achievements</h2>
    <p>
      At Seetro, we take pride in our journey and the milestones we've achieved along the way. Our commitment to innovation, quality, and excellence has led us to some remarkable accomplishments:
    </p>

    <div class="achievement-cards">

      <article class="achievement-card">
        <span class="achievement-icon">
          <i class="uil uil-video"></i>
        </span>
        <h4>100+</h4>
        <small>
          different drones</small>
      </article>

      <article class="achievement-card">
        <span class="achievement-icon">
          <i class="uil uil-video"></i>
        </span>
        <h4>100,000+</h4>
        <small>
          sold drones</small>
      </article>


      <article class="achievement-card">
        <span class="achievement-icon">
          <i class="uil uil-video"></i>
        </span>
        <h4>50+</h4>
        <small>
          awards</small>
      </article>
    </div>
   </div>


  </div>
</section>
    <!-- ========END OF SECTION ACHIEVEMENTS========   -->
    <!-- ========START SECTION TEAM========   -->
<section class="team">
  <h2>Our Team</h2>
  <div class="container team-container">
    <article class="team-member">
      <div class="team-member-image">
        <img src="../../assets/team-f.png" alt="">
      </div>
      <div class="team-member-description">
        <h4>Mia Chen </h4>
        <p>The Drone Racer</p>
      </div>
      <div class="team-member-info">
        <a href="https://de-de.facebook.com/" target="_blank"><i class="uil uil-facebook"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="uil uil-instagram"></i></a>
        <a href="https://twitter.com/" target="_blank"><i class="uil uil-twitter"></i></a>
        </div>
    </article>


    <article class="team-member">
      <div class="team-member-image">
        <img src="../../assets/team-m.png" alt="">
      </div>
      <div class="team-member-description">
        <h4>Lucas Ramirez</h4>
        <p>The Tech Enthusiast</p>
      </div>
      <div class="team-member-info">
        <a href="https://de-de.facebook.com/" target="_blank"><i class="uil uil-facebook"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="uil uil-instagram"></i></a>
        <a href="https://twitter.com/" target="_blank"><i class="uil uil-twitter"></i></a>
        </div>
    </article>


    <article class="team-member">
      <div class="team-member-image">
        <img src="../../assets/team-f1.png" alt="">
      </div>
      <div class="team-member-description">
        <h4>Lisa Andrews</h4>
        <p>The Aerial Artist</p>
      </div>
      <div class="team-member-info">
        <a href="https://de-de.facebook.com/" target="_blank"><i class="uil uil-facebook"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="uil uil-instagram"></i></a>
        <a href="https://twitter.com/" target="_blank"><i class="uil uil-twitter"></i></a>
        </div>
    </article>
  </div>
</section>
    <!-- ========END OF SECTION TEAM========   -->








  <!-- ========START SECTION FOOTER========   -->

  <footer>
    <div class="container footer-container">
      <div class="footer-1">
        <a href="index.html" class="footer-logo"><h4>Seetro</h4></a>
        <p>
          Explore the exciting world of drones with <b>Seetro</b>. We offer premium
          drones for a variety of applications – from aerial photography to
          industrial inspections. Discover the future of flight technology and
          explore the possibilities of the sky.
        </p>
      </div>
      <div class="footer-2">
        <h4>Permalinks</h4>
        <ul class="permalinks">
          <li><a href="../../../index.html">home</a></li>
          <li><a href="./about.page.html">about</a></li>
          <li>
            <a href="./src/pages/products/product.page.html">products</a>
          </li>
          <li><a href="./src/pages/contact/contact.page.html">contact</a></li>
        </ul>
      </div>
      <div class="footer-3">
        <h4>Primacy</h4>
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms and conditions</a></li>
          <li><a href="#">Refund Policy</a></li>
        </ul>
      </div>
      <div class="footer-4">
        <h4>Contact Us</h4>
        <div>
          <p>+49 123 456789</p>
          <p>Muster@email.com</p>
        </div>

        <ul class="footer-socials">
          <li>
            <a href="https://de-de.facebook.com/" target="_blank"><i class="uil uil-facebook"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/" target="_blank"><i class="uil uil-instagram"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/" target="_blank"><i class="uil uil-twitter"></i></a>
          </li>
          <li>
            <a href="http://de.linkedin.com" target="_blank"><i class="uil uil-linkedin-alt"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-copyright">
      <small
        >&copy; 2023 <b>Seetro</b>, This is a practice project and is for
        demonstration purposes only. All content and information on this
        website are fictional and for illustration purposes.
      </small>
    </div>
  </footer>

  <!-- ========END OF SECTION FOOTER========   -->
  <!-- ========START SECTION JAVASCRIPT========   -->
  <script src="main.js"></script>
  
</body>
</html>
