:root {
    --color-background: #1f2a38;
    ;
    --color-background2: #34495e;
    --color-background3: #2c3e50;

    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.564);
    --color-black: #000;

    --color-primary: #3498db;
    --color-accent: #036ce5;
    --color-success: #27ae60;
    --color-warning: #f39c12;
    --color-danger: #aa2d20;
    --color-danger-darker: #f757426b;

    --transition: all .4s ease;

    --container-lg: 80%;
    --container-md: 90%;
    --container-sm: 96%;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    color: var(--color-white);
    background-color: var(--color-background);
    font-family: "Poppins", sans-serif;
}

a {
    color: var(--color-white);
}

h1 {
    font-size: 2.6rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.3rem;
}

small {
    color: var(--color-warning);
    opacity: .6;

}


img {
    width: 100%;
    display: block;
    object-fit: cover;
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.container {
    width: var(--container-lg);
    margin: 0 auto;
}

.btn {
    color: var(--color-black);
    background-color: var(--color-accent);
    padding: 1rem 2rem;
    font-weight: 500;
    transition: var(--transition);
    border: 1px solid transparent;
    border-radius: .3rem;
    cursor: pointer;
    display: inline-block;

}

.btn:hover {
    color: var(--color-primary);
    background-color: transparent;
    border-color: var(--color-accent);
}

.btn-primary {
    color: var(--color-white);
    background-color: var(--color-danger);
}

/* =========START SECTION NAVBAR========= */
nav {
    width: 100vw;
    height: 3rem;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: transparent;
}

nav button {
    display: none;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 3rem;
    text-transform: uppercase;
    font-size: .9rem;
}

.navbar a {
    transition: var(--color-accent);
}

.navbar a:hover {
    color: var(--color-background2);
}

/* =========END OF SECTION NAVBAR========= */
/* =========START SECTION HEADER========= */
header {
    height: 69vh;
    top: 4.5rem;
    position: relative;
    margin-bottom: 6rem;
    overflow: hidden;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
}

.header-left p {
    margin: 1rem .3rem 2.1rem;
}

/* =========END OF SECTION HEADER========= */
/* =========START SECTION CATEGORIES========= */
.categories {
    height: 33rem;
    background-color: var(--color-background2);
}

.categories-container {
    display: grid;
    grid-template-columns: 70% 30%;
}

.categories-left {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .9rem;

}

.category {
    background-color: var(--color-background3);
    transition: var(--transition);
    padding: .9rem;
    border-radius: .6rem;
    border: 1px solid transparent;
    cursor: default;
    box-shadow: 0px 4px 3px var(--color-accent);
}

.category:hover {
    background-color: transparent;
    border-color: var(--color-accent);
    color: var(--color-light);

}

.category:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.category:nth-child(1) .category-icon {
    background-color: var(--color-accent);
}

.category:nth-child(2) .category-icon {
    background-color: var(--color-danger);
}

.category:nth-child(3) .category-icon {
    background-color: var(--color-success);
}

.category:nth-child(4) .category-icon {
    background-color: var(--color-warning);
}

.category:nth-child(5) .category-icon {
    background-color: var(--color-accent);
}

.category-icon {
    background-color: var(--color-light);
    padding: .3rem .6rem;
    border-radius: .3rem;
}

.category h4 {
    margin: 2rem 0 .3rem;
}

.category p {
    font-size: .9rem;
}


.categories-right {
    margin-left: 3rem;
    text-align: center;
}

.categories-right .btn {
    margin-top: 2rem;
}

/* =========END OF SECTION CATEGORIES========= */
/* =========START SECTION PRODUCTS========= */
.products {
    margin-top: 9rem;
}


.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    text-align: center;
}

.product {
    border-radius: .6rem;
    overflow: hidden;
    border: 2px solid transparent;
    transition: var(--transition);
    cursor: pointer;
    background-color: var(--color-background2);
}

.product:hover {
    border-color: var(--color-accent);
    background-color: transparent;
}

.product-info {
    padding: 2rem;
}

.product-info p {
    margin: .9rem 0 2rem;
}

/* =========END OF SECTION PRODUCTS========= */