:root {
    --color-background: #1f2a38;;
    --color-background2: #34495e;
    --color-background3: #2c3e50;

    --color-white:#fff;
    --color-light:rgba(255,255,255,.7);
    --color-black:#000;

    --color-primary: #3498db;
    --color-success:#27ae60;
    --color-warning:#f39c12;
    --color-danger:#aa2d20;
    --color-danger-darker:#f757426b;

    --transition: all .4s ease;

    --container-lg: 86%;
    --container-md: 90%;
    --container-sm: 96%;

}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: "Poppins", sans-serif;
}

.container{
    width: var(--container-lg);
    margin: 0 auto;
}


/* =========START SECTION NAVBAR========= */


/* =========END SECTION NAVBAR========= */
