<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ====ICONSCOUT CDN==== -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <!-- ====GOOGLE FONTS (POPPINS)==== -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- ====STYLESHEET CSS==== -->
    <link rel="stylesheet" href="../../../style.css" />

    <link rel="stylesheet" href="./product.page.css" />
    <title>Seetro Responsive Drone Website</title>
  </head>
  <body>
    <!-- ========START SECTION NAVBAR========   -->
    <nav>
      <div class="container nav-container">
        <a href="../../../index.html"><h3>Seetro</h3></a>
        <ul class="navbar">
          <li><a href="../../../index.html">home</a></li>
          <li><a href="../about/about.page.html">about</a></li>
          <li><a href="./product.page.html">products</a></li>
          <li><a href="../contact/contact.page.html">contact</a></li>
        </ul>
        <button id="open-nav"><i class="uil uil-align-justify"></i></button>
        <button id="close-nav"><i class="uil uil-multiply"></i></button>
      </div>
    </nav>
    <!-- ========END OF SECTION NAVBAR========   -->
    <section class="heading-link">
      <h3>our products</h3>
      <p><a href="../../../index.html">home</a>/products</p>
    </section>
    <!-- ========START SECTION PRODUCTS========   -->

    <section class="products">
      <h2>Our Popular Products</h2>
      <div class="container products-container">
        <article class="product">
          <div class="product-image">
            <img src="../../assets/drone1.png" alt="" />
          </div>
          <div class="product-description">
            <h4>SkyCam Pro X1</h4>
            <p>
              The SkyCam Pro X1 is a professional photography drone designed for
              stunning aerial shots and high-quality videos. With its stable
              flight performance and advanced camera, it offers photographers
              and filmmakers the ability to capture their creative visions from
              new perspectives.
            </p>
          </div>
          <div class="product-info">
            <div>
              <h5>Classification</h5>
              <i class="uil uil-award"></i>
              <small>Photography Drone</small>
            </div>

            <div>
              <h5>Top Speed</h5>
              <i class="uil uil-dashboard"></i>
              <small>65 km/h</small>
            </div>

            <div>
              <h5>Battery Capacity</h5>
              <i class="uil uil-battery-bolt"></i>
              <small>4000 mAh</small>
            </div>
          </div>
          <a href="#" class="btn btn-primary">Read More</a>
        </article>

        <article class="product">
          <div class="product-image">
            <img src="../../assets/drone2.png" alt="" />
          </div>
          <div class="product-description">
            <h4>AeroFun Racer S2</h4>
            <p>
              The AeroFun Racer S2 is a compact racing drone designed for
              thrilling FPV races. With agile maneuverability and rapid
              acceleration, it provides an adrenaline rush for racing
              enthusiasts and experienced pilots.
            </p>
          </div>
          <div class="product-info">
            <div>
              <h5>Classification</h5>
              <i class="uil uil-award"></i>
              <small>Racing Drone</small>
            </div>

            <div>
              <h5>Top Speed</h5>
              <i class="uil uil-dashboard"></i>
              <small>120 km/h</small>
            </div>

            <div>
              <h5>Battery Capacity</h5>
              <i class="uil uil-battery-bolt"></i>
              <small>1300 mAh</small>
            </div>
          </div>
          <a href="#" class="btn btn-primary">Read More</a>
        </article>

        <article class="product">
          <div class="product-image">
            <img src="../../assets/drone3.png" alt="" />
          </div>
          <div class="product-description">
            <h4>TerraScan 3000</h4>
            <p>
              The TerraScan 3000 is a professional surveying drone designed for
              mapping and cartography applications. Equipped with highly precise
              GPS sensors and a stable flight platform, it enables accurate
              topographic data and 3D models for various industries.
            </p>
          </div>
          <div class="product-info">
            <div>
              <h5>Classification</h5>
              <i class="uil uil-award"></i>
              <small>Surveying Drone</small>
            </div>

            <div>
              <h5>Top Speed</h5>
              <i class="uil uil-dashboard"></i>
              <small>45 km/h</small>
            </div>

            <div>
              <h5>Battery Capacity</h5>
              <i class="uil uil-battery-bolt"></i>
              <small>6000 mAh</small>
            </div>
          </div>
          <a href="#" class="btn btn-primary">Read More</a>
        </article>

        <article class="product">
          <div class="product-image">
            <img src="../../assets/drone5.png" alt="" />
          </div>
          <div class="product-description">
            <h4>AeroGuard Watcher</h4>
            <p>
              The AeroGuard Watcher is a surveillance drone designed for
              security and emergency response missions. With high-resolution
              infrared cameras and extended flight duration, it can monitor
              critical areas day and night and document events.
            </p>
          </div>
          <div class="product-info">
            <div>
              <h5>Classification</h5>
              <i class="uil uil-award"></i>
              <small>Surveillance Drone</small>
            </div>

            <div>
              <h5>Top Speed</h5>
              <i class="uil uil-dashboard"></i>
              <small>40 km/h</small>
            </div>

            <div>
              <h5>Battery Capacity</h5>
              <i class="uil uil-battery-bolt"></i>
              <small>8000 mAh</small>
            </div>
          </div>
          <a href="#" class="btn btn-primary">Read More</a>
        </article>

        <article class="product">
          <div class="product-image">
            <img src="../../assets/drone6.png" alt="" />
          </div>
          <div class="product-description">
            <h4>ExploreAir Voyager</h4>
            <p>
              The ExploreAir Voyager is a versatile recreational drone, perfect
              for beginners and hobbyists. With stable flight behavior and
              automated flight modes, it's great for exploring the surroundings
              and capturing unique moments.
            </p>
          </div>
          <div class="product-info">
            <div>
              <h5>Classification</h5>
              <i class="uil uil-award"></i>
              <small>Recreational Drone</small>
            </div>

            <div>
              <h5>Top Speed</h5>
              <i class="uil uil-dashboard"></i>
              <small>35 km/h</small>
            </div>

            <div>
              <h5>Battery Capacity</h5>
              <i class="uil uil-battery-bolt"></i>
              <small>2200 mAh</small>
            </div>
          </div>
          <a href="#" class="btn btn-primary">Read More</a>
        </article>

        <article class="product">
          <div class="product-image">
            <img src="../../assets/drone7.png" alt="" />
          </div>
          <div class="product-description">
            <h4>AeroSwift DeliverX</h4>
            <p>
              The AeroSwift DeliverX is an advanced delivery drone designed for
              transporting small packages and medical supplies to remote areas.
              With reliable payload capacity and efficient energy management, it
              supports humanitarian and logistical tasks.
            </p>
          </div>
          <div class="product-info">
            <div>
              <h5>Classification</h5>
              <i class="uil uil-award"></i>
              <small>Delivery Drone</small>
            </div>

            <div>
              <h5>Top Speed</h5>
              <i class="uil uil-dashboard"></i>
              <small>80 km/h</small>
            </div>

            <div>
              <h5>Battery Capacity</h5>
              <i class="uil uil-battery-bolt"></i>
              <small>5000 mAh</small>
            </div>
          </div>
          <a href="#" class="btn btn-primary">Read More</a>
        </article>
      </div>
    </section>
    <!-- ========END OF SECTION PRODUCTS========   -->
    <!-- ========START SECTION FOOTER========   -->

    <footer>
      <div class="container footer-container">
        <div class="footer-1">
          <a href="../../../index.html" class="footer-logo"><h4>Seetro</h4></a>
          <p>
            Explore the exciting world of drones with <b>Seetro</b>. We offer
            premium drones for a variety of applications – from aerial
            photography to industrial inspections. Discover the future of flight
            technology and explore the possibilities of the sky.
          </p>
        </div>
        <div class="footer-2">
          <h4>Permalinks</h4>
          <ul class="permalinks">
            <li><a href="../../../index.html">home</a></li>
            <li><a href="../about/about.page.html">about</a></li>
            <li>
              <a href="./product.page.html">products</a>
            </li>
            <li><a href="../contact/contact.page.html">contact</a></li>
          </ul>
        </div>
        <div class="footer-3">
          <h4>Primacy</h4>
          <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms and conditions</a></li>
            <li><a href="#">Refund Policy</a></li>
          </ul>
        </div>
        <div class="footer-4">
          <h4>Contact Us</h4>
          <div>
            <p>+49 123 456789</p>
            <p>Muster@email.com</p>
          </div>

          <ul class="footer-socials">
            <li>
              <a href="https://de-de.facebook.com/" target="_blank"
                ><i class="uil uil-facebook"></i
              ></a>
            </li>
            <li>
              <a href="https://www.instagram.com/" target="_blank"
                ><i class="uil uil-instagram"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/" target="_blank"
                ><i class="uil uil-twitter"></i
              ></a>
            </li>
            <li>
              <a href="http://de.linkedin.com" target="_blank"
                ><i class="uil uil-linkedin-alt"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-copyright">
        <small
          >&copy; 2023 <b>Seetro</b>, This is a practice project and is for
          demonstration purposes only. All content and information on this
          website are fictional and for illustration purposes.
        </small>
      </div>
    </footer>

    <!-- ========END OF SECTION FOOTER========   -->
    <!-- ========START SECTION JAVASCRIPT========   -->
    <script src="../../../main.js"></script>
  </body>
</html>
